:root {
--cor-de-fundo : #4b0953;
--cor-cabecalho: rgb(240, 173, 87);
--fundo-menu:rgba(255, 255, 255, 0.842);
}

body {
    background-color: var(--cor-de-fundo);
}
 
.cabecalho {
    background-color: var(--cor-cabecalho);
}

.cabecalho-titulo {
font-size: 36px;
font-weight: 700;
padding: 12px;
text-align: center;
}

.cabecalho-menu {
    background-color: var(--fundo-menu);
}

.cabecalho-menu-item {
display: block;
padding: 10px;
font-size: 24px;
text-decoration: none;
color: rgb(119, 20, 185);
text-align: center;
border-top: 1px solid;
}

.img-class {
    width: 350px;
}

#burguer {
    background-color: rgb(240, 173, 87);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    }
    #menu {
    display: none;
    }